 <nav class="navbar navbar-expand-lg fixed-top">
        <div class="nav-container container-fluid">
            <div class="navbar-brand text-left" href="#">
                <i class="fas fa-utensils"></i>&ensp; Insurance Indemnity Co.
            </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars fa-lg bg-gray9 white shadow-2" data-fa-transform="up-35"></i>
                    </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                            <i class="fas fa-home"></i> Welcome (username) &ensp;
                            <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <i class="far fa-user"></i> Log Out &ensp; </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <i class="fab fa-elementor"></i> Contact Us &ensp; </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <i class="fas fa-laptop"></i> Drop Down Menu &ensp; </a>
                        </li>
                    </ul>
                </div>
        </div>
    </nav>