
<header>
    <%- include('partials/header') %>
</header>
   

 <div class="fluid-container welcome">  
<h3>Welcome to the Castastrophe Response Center!</h3>
<h4>We noticed your area was hit by a recent catastophe and your property may have been affected. </h4>
<h5>In order to help you with any questions or concerns you may have, we have deployed Fred, the Castastrophe Response Agent, to assist you. Please enter a question below or choose one from the dropdown of common questions. 
</div>
<div class="container-fluid">
<div class="container-fluid2">
   <div class="nav nav-tabs" id="nav-tab" role="tablist">

       
        <a href="#headingOne" class="nav-item nav-link active" id="headingOne-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="headingOne" aria-selected="true">Claims</a>

        <a href="#headingTwo" class="nav-item nav-link" id="headingTwo-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="headingTwo" aria-selected="false"><i class="mdi mdi-account"></i> Local Resources</a>

        <a href="#tab3" class="nav-item nav-link" id="headingThree-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="headingThree" aria-selected="false"><i class="mdi mdi-account-settings"></i> Who to Contact</a>

        <a href="#tab4" class="nav-item nav-link" role="tab" data-toggle="tab"><i class="mdi mdi-star"></i> Coverage Details</a>

        <a href="#tab5" class="nav-item nav-link" role="tab" data-toggle="tab"><i class="mdi mdi-cart"></i> Talk to Fred</a>        
        </ul>

      </div>
  </div>

<div class="divider"></div>
  <div class="accordion container-fluid2 tab-content" id="nav-tabContent">
      
  
    <div class="tab-pane fade show active" id="headingOne" role="tabpanel" aria-labelledby="headingOne-tab">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse">
          Collapsible Group Item #1
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. 
      </div>
    </div>
  </div>

  
    <div class="tab-pane fade" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse">
          Collapsible Group Item #2
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
    </div>
  </div>

  
    <div class="card-header  tab-pane fade" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h5>
    </div>

    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. 
      </div>
    </div>
  </div>


       
</div></div>
<br><br>
<div class="container-fluid2">
<div class="row">
  <div class="col-md-6">
    <ul class="nav nav-tabs faq-cat-tabs">

      <li class="active"><a href="#faq-cat-1" data-toggle="tab">Claims</a></li>

     <li><a href="#faq-cat-2" data-toggle="tab"> Local Resources</a></li>

     <li><a href="#faq-cat-3" data-toggle="tab">Who to Contact</a></li>

      <li><a href="#faq-cat-4" data-toggle="tab">Coverage Details</a></li>

  <li><a href="#faq-cat-5" data-toggle="tab">Talk to Fred</a></li> 
  </ul>

    
    <div class="tab-content faq-cat-content">
       <div class="tab-pane active in fade" id="faq-cat-1">
       <div class="panel-group" id="accordion-cat-1">
    <div class="panel panel-default panel-faq">

    <div class="panel-heading">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" data-parent="accordion-cat-1" href="#faq-cat-1-sub-1" aria-controls="collapseOne">
          Collapsible Group Item #1
        </button>
      </h5>
    </div>
    <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
    <div class="panel-body">
   <div class="row form-group">
    <div class="col-sm-2">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. 
      </div>
    </div>
  </div>


 <div class="panel panel-default panel-faq">
    <div class="panel-heading">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" aria-expanded="false" data-toggle="collapse" data-target="#collapseTwo" data-parent="accordion-cat-1" href="#faq-cat-1-sub-2" aria-controls="collapseOne">
          Collapsible Group Item #2
        </button>
      </h5>
    </div>
   <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
    <div class="panel-body">
   <div class="row form-group">
    <div class="col-sm-2">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
    </div>
  </div>
            
      </div>

      
     

<br><br><br>
<section class="cd-faq">
	<ul class="cd-faq-categories">
		<li><a class="selected" href="#claims">Claims</a></li>
		<li><a href="#local">Local Resources</a></li>
		<li><a href="#contact">Who to Contact</a></li>
		<li><a href="#coverage">Coverage Details</a></li>
		<li><a href="#talk">Talk to Fred</a></li>
	</ul> <!-- cd-faq-categories -->

	<div class="cd-faq-items">
		<ul id="claims" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Claims</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">How do I file a catastrophe claim?</a>
				<div class="cd-faq-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et. Dolorum consequuntur fugit deleniti, soluta fuga nobis. Aperiam.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What is your response time?</a>
				<div class="cd-faq-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus magni sint temporibus, accusantium rem commodi?</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Can I remove a post?</a>
				<div class="cd-faq-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident officiis, reprehenderit numquam. Praesentium veritatis eos tenetur magni debitis inventore fugit, magnam, reiciendis, saepe obcaecati ex vero quaerat distinctio velit.</p>
				</div> <!-- cd-faq-content -->
			</li>

		</ul> <!-- cd-faq-group -->

		<ul id="local" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Local Resources</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Where is the closest laundromat?</a>
				<div class="cd-faq-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo iure magnam, et cum. Laudantium, eaque non? </p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Where is the closest storm shelter?</a>
				<div class="cd-faq-content">
					<p>Quas culpa dolorum ipsam? Ipsum voluptatibus numquam natus? Eligendi explicabo eos, perferendis voluptatibus hic sed ipsam rerum maiores officia! Beatae, molestias!</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What are the closest hotels with vacancies?</a>
				<div class="cd-faq-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident officiis, reprehenderit numquam. </p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="contact" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Who to Contact</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Who Do I Call for Auto Claims?</a>
				<div class="cd-faq-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis earum autem consectetur labore eius tenetur esse, in temporibus sequi cum voluptatem vitae repellat nostrum odio perspiciatis dolores recusandae necessitatibus, unde, deserunt voluptas possimus veniam magni soluta deleniti! Architecto, quidem, totam. </p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Who Do I Call for Property Claims?</a>
				<div class="cd-faq-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda doloremque nemo est sequi eaque, ipsum id, labore rem nisi, amet similique vel autem dolore totam facilis deserunt. Mollitia non ut libero unde accusamus praesentium sint maiores, illo, nemo aliquid?</p>
				</div> <!-- cd-faq-content -->
			</li>

		</ul> <!-- cd-faq-group -->

		<ul id="coverage" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Coverage Details</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Do I have hail coverage?</a>
				<div class="cd-faq-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quidem delectus rerum eligendi mollitia, repudiandae quae beatae. </p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What are my property limits?</a>
				<div class="cd-faq-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur accusantium dolorem vel, ad, nostrum natus eos, nemo placeat quos nisi architecto rem dolorum amet consectetur molestiae reprehenderit cum harum commodi beatae necessitatibus. </p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What Does My Umbrella Coverage cover?</a>
				<div class="cd-faq-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident officiis, reprehenderit numquam. Praesentium veritatis eos tenetur magni debitis inventore fugit, magnam, reiciendis, saepe obcaecati ex vero quaerat distinctio velit.</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="talk" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Talk to Fred Instead</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Can I specify my own private key?</a>
				<div class="cd-faq-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quidem delectus rerum eligendi mollitia, repudiandae quae beatae. Et repellat quam atque corrupti iusto architecto impedit explicabo repudiandae qui similique aut iure ipsum quis inventore nulla error aliquid alias quia dolorem dolore, odio excepturi veniam odit veritatis. Quo iure magnam, et cum. Laudantium, eaque non? Tempore nihil corporis cumque dolor ipsum accusamus sapiente aliquid quis ea assumenda deserunt praesentium voluptatibus, accusantium a mollitia necessitatibus nostrum voluptatem numquam modi ab, sint rem.</p>
				</div> <!-- cd-faq-content -->
			</li>

			
		</ul> <!-- cd-faq-group -->

		
	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->

 <!-- Resource jQuery -->

<footer>
    <%- include('partials/footer') %>
</footer>