<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-3">
            <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                        <li class="active">
                        <a href="#faq-cat-1" data-toggle="tab">
                         <i class="glyphicon glyphicon-user"></i>Claims</a>
                        </li>
                        <li>
                        <a href="#faq-cat-2" data-toggle="tab">
                         <i class="glyphicon glyphicon-plus"></i>Local Resources</a>
                        </li>
                        <li>
                        <a href="#faq-cat-3" data-toggle="tab">
                        <i class="glyphicon glyphicon-delete"></i>Who to Contact</a>
                        </li>
                        <li>
                        <a href="#faq-cat-4" data-toggle="tab">
                        <i class="glyphicon glyphicon-leaf"></i>Coverage Details</a>
                        </li>
                        <li>
                        <a href="#faq-cat-5" data-toggle="tab">
                        <i class="glyphicon glyphicon-user"></i>Talk to Fred</a>
                        </li>
                        </ul>


            <!-- Cat 1 -->
            <div class="tab-content faq-cat-content">
                <div class="tab-pane active in fade" id="faq-cat-1">
                    <div class="panel-group" id="accordion-cat-1">
                        <div class="panel panel-default panel-faq">
                            
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                                <h4 class="panel-title">
                                    How do I file a catastrophe claim?
                                <span class="pull-right">
                                <i class="glyphicon glyphicon-plus"></i>
                                </span>
                                </h4>
                                </a>
                            </div>


                        <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="row form-group">
                            <div class="col-sm-6">File Cat Claim Info
                          </div>
                           </div>
                        </div>
                        </div>
                    </div>

                        <div class="panel panel-default panel-faq">
                            
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
                                <h4 class="panel-title">
                                    What is your response time?
                                <span class="pull-right">
                                <i class="glyphicon glyphicon-plus"></i>
                                </span>
                                </h4>
                                </a>
                            </div>

                        <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="row form-group">
                            <div class="col-sm-6">How fast can we process?
                            
                            </div>
                            </div>

                                                                
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            <!-- Cat 2 -->
                <div class="tab-pane fade" id="faq-cat-2">
                    <div class="panel-group" id="accordion-cat-2">
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                            <h4 class="panel-title">
                                Where is the closest laundromat? 
                            <span class="pull-right">
                            <i class="glyphicon glyphicon-plus"></i>
                            </span>
                            </h4>
                            </a>
                            </div>

                        <div id="faq-cat-2-sub-1" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="row form-group">
                            <div class="col-sm-6">Where is the laundry?
                            
                            </div>
                            </div>

                                
                        </div>
                        </div>
                    </div>
                        
                    <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                <h4 class="panel-title">
                                        Where is the closest storm shelter?
                                <span class="pull-right">
                                <i class="glyphicon glyphicon-plus"></i>
                                </span>
                                </h4>
                                </a>
                            </div>

                            <div id="faq-cat-2-sub-2" class="panel-collapse collapse">
                            <div class="panel-body">

                                <div class="row form-group">
                                <div class="col-sm-6">Where can I find the shelter?
                                
                                </div>
                                </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            <!-- Cat 3 -->
                <div class="tab-pane fade" id="faq-cat-3">
                    <div class="panel-group" id="accordion-cat-3">
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-1">
                            <h4 class="panel-title">
                                Who do I call for Auto claims?
                            <span class="pull-right">
                            <i class="glyphicon glyphicon-plus"></i>
                            </span>
                            </h4>
                            </a>
                            </div>

                        <div id="faq-cat-2-sub-1" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="row form-group">
                            <div class="col-sm-6">auto claims number
                            
                            </div>
                            </div>

                                
                        </div>
                        </div>
                    </div>
                        
                    <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-2">
                                <h4 class="panel-title">
                                        Who do I call for Property claims?
                                <span class="pull-right">
                                <i class="glyphicon glyphicon-plus"></i>
                                </span>
                                </h4>
                                </a>
                            </div>

                            <div id="faq-cat-3-sub-2" class="panel-collapse collapse">
                            <div class="panel-body">

                                <div class="row form-group">
                                <div class="col-sm-6">property claims number
                                
                                </div>
                                </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>

            <!-- Cat 4 -->
                <div class="tab-pane fade" id="faq-cat-4">
                    <div class="panel-group" id="accordion-cat-4">
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-cat-4" href="#faq-cat-4-sub-1">
                            <h4 class="panel-title">
                                Do I have hail coverage?
                            <span class="pull-right">
                            <i class="glyphicon glyphicon-plus"></i>
                            </span>
                            </h4>
                            </a>
                            </div>

                        <div id="faq-cat-4-sub-1" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="row form-group">
                            <div class="col-sm-6">is hail damage covered?
                            
                            </div>
                            </div>

                                
                        </div>
                        </div>
                    </div>
                        
                    <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-4" href="#faq-cat-4-sub-2">
                                <h4 class="panel-title">
                                         What are my property limits?
                                <span class="pull-right">
                                <i class="glyphicon glyphicon-plus"></i>
                                </span>
                                </h4>
                                </a>
                            </div>

                            <div id="faq-cat-4-sub-2" class="panel-collapse collapse">
                            <div class="panel-body">

                                <div class="row form-group">
                                <div class="col-sm-6">property damage limits. How long food is good without power.
                                
                                </div>
                                </div>
                        </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-cat-4" href="#faq-cat-4-sub-3">
                            <h4 class="panel-title">
                                What does my umbrella coverage cover?
                            <span class="pull-right">
                            <i class="glyphicon glyphicon-plus"></i>
                            </span>
                            </h4>
                            </a>
                            </div>

                        <div id="faq-cat-4-sub-3" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="row form-group">
                            <div class="col-sm-6">what is covered under umbrella?
                            
                            </div>
                            </div>

                                
                        </div>
                        </div>
                    </div>
                    </div>
                </div>

        <!-- Cat 5 -->
                <div class="tab-pane fade" id="faq-cat-5">
                    <div class="panel-group" id="accordion-cat-5">
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-cat-5" href="#faq-cat-5-sub-1">
                            <h4 class="panel-title">
                                 Talk to Fred
                            <span class="pull-right">
                            <i class="glyphicon glyphicon-plus"></i>
                            </span>
                            </h4>
                            </a>
                            </div>

                        <div id="faq-cat-5-sub-1" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="row form-group">
                            <div class="col-sm-6">talk to chatbot Fred
                            
                            </div>
                            </div>

                                
                        </div>
                        </div>
                    </div>
                    </div>
                    </div>

<!-- end divs -->
                
            </div>
        </div>
    </div>
</div>